# **Home task: pandas**

### **Question 1**

* Load the energy data from the file Energy Indicators.xls. It is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013.
* It should be put into a DataFrame with the variable name of "energy"
* Make sure to exclude the footer and header information from the datafile.

In [39]:
import pandas as pd
import numpy as np

energy = pd.read_excel("Energy Indicators.xls", skiprows=17, skipfooter=38, usecols="C:F", engine="xlrd")


print(energy.columns)
energy.head()

Index(['Unnamed: 2', 'Petajoules', 'Gigajoules', '%'], dtype='object')

       Unnamed: 2 Petajoules Gigajoules           %
0     Afghanistan        321         10   78.669280
1         Albania        102         35  100.000000
2         Algeria       1959         51    0.551010
3  American Samoa        ...        ...    0.641026
4         Andorra          9        121   88.695650

* The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:
 ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

* Convert Energy Supply to gigajoules (there are 1,000,000 gigajoules in a petajoule).

* For all countries which have missing data (e.g. data with ...) make sure this is reflected as np.NaN values.

In [53]:
# Rename columns to match the expected format
energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
energy.columns = energy.columns.str.strip()

# Replace missing values with NaN
energy.replace('...', np.nan, inplace=True)

# Convert 'Energy Supply' from petajoules to gigajoules (1 Petajoule = 1,000,000 Gigajoules)
energy['Energy Supply'] = pd.to_numeric(energy['Energy Supply'], errors='coerce')  # Convert to numbers
energy['Energy Supply'] *= 1000000  
energy['Energy Supply'] = energy['Energy Supply'].astype('float32')  


print(energy.columns)
energy.head()

Index(['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'], dtype='object')

          Country  Energy Supply  Energy Supply per Capita  % Renewable
0     Afghanistan   3.210000e+14                      10.0    78.669280
1         Albania   1.020000e+14                      35.0   100.000000
2         Algeria   1.959000e+15                      51.0     0.551010
3  American Samoa            NaN                       NaN     0.641026
4         Andorra   9.000000e+12                     121.0    88.695650

Rename the following list of countries (for use in later questions):

* Republic of Korea: South Korea,
* United States of America: United States,
* United Kingdom of Great Britain and Northern Ireland: United Kingdom,
* China, Hong Kong Special Administrative Region: Hong Kong

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, e.g.:

* Bolivia (Plurinational State of) should be Bolivia,
* Switzerland17 should be Switzerland.

In [41]:
# Create dictionary with countries that need to be renamed
country_rename = {
    'Republic of Korea': 'South Korea',
    'United States of America': 'United States',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'China, Hong Kong Special Administrative Region': 'Hong Kong'
}

# Clean the country names:
# - Remove digits
# - Remove text inside parentheses
# - Remove extra spaces
energy['Country'] = energy['Country'].str.replace(r'\d+', '', regex=True)  # Remove numbers
energy['Country'] = energy['Country'].str.replace(r'\(.*\)', '', regex=True)  # Remove text in parentheses
energy['Country'] = energy['Country'].str.strip()  # Remove any leading/trailing spaces

# Replace the country names based on the dictionary
energy['Country'] = energy['Country'].replace(country_rename)


print(energy['Country'].unique())

['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Anguilla' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan'
 'Bolivia' 'Bonaire, Sint Eustatius and Saba' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'British Virgin Islands' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde' 'Cambodia' 'Cameroon'
 'Canada' 'Cayman Islands' 'Central African Republic' 'Chad' 'Chile'
 'China' 'Hong Kong' 'China, Macao Special Administrative Region'
 'Colombia' 'Comoros' 'Congo' 'Cook Islands' 'Costa Rica' "Côte d'Ivoire"
 'Croatia' 'Cuba' 'Curaçao' 'Cyprus' 'Czech Republic'
 "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Ethiopia' 'Faeroe Islands' 'Falkland Islands' 'Fiji'
 'Finland' 'France' 'French Guiana' 'French Polynesia' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Gibraltar' 'Greece' 'Greenland' 'Grenada'
 'Guadeloupe' 'Guam' 'Guatemala' 'Guernsey' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran' 'Iraq' 'Ireland' 'Isle of Man' 'Israel' 'Italy' 'Jamaica' 'Japan'
 'Jersey' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi'
 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Martinique'
 'Mauritania' 'Mauritius' 'Mexico' 'Micronesia' 'Mongolia' 'Montenegro'
 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria'
 'Niue' 'Northern Mariana Islands' 'Norway' 'Oman' 'Pakistan' 'Palau'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'South Korea' 'Republic of Moldova'
 'Réunion' 'Romania' 'Russian Federation' 'Rwanda' 'Saint Helena'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Pierre and Miquelon'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Sint Maarten' 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia'
 'South Africa' 'South Sudan' 'Spain' 'Sri Lanka' 'State of Palestine'
 'Sudan' 'Suriname' 'Swaziland' 'Sweden' 'Switzerland'
 'Syrian Arab Republic' 'Tajikistan' 'Thailand'
 'The former Yugoslav Republic of Macedonia' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan'
 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United Republic of Tanzania'
 'United States' 'United States Virgin Islands' 'Uruguay' 'Uzbekistan'
 'Vanuatu' 'Venezuela' 'Viet Nam' 'Wallis and Futuna Islands' 'Yemen'
 'Zambia' 'Zimbabwe']

* Next, load the GDP data from the file "world_bank.csv". It is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame "GDP"

In [42]:

GDP = pd.read_csv("API_NY.GDP.MKTP.CD_DS2_en_csv_v2_76261.csv", skiprows=4)

GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.481857e+09,2.929447e+09,3.279344e+09,3.648573e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.421063e+10,2.496398e+10,2.707880e+10,3.177575e+10,3.028579e+10,3.381317e+10,...,8.982778e+11,8.289428e+11,9.729989e+11,1.012306e+12,1.009721e+12,9.333918e+11,1.085745e+12,1.191423e+12,1.245472e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426000e+10,1.449724e+10,1.723305e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.190495e+10,1.270788e+10,1.363076e+10,1.446909e+10,1.580376e+10,1.692109e+10,...,7.717669e+11,6.943610e+11,6.878492e+11,7.704950e+11,8.264838e+11,7.898017e+11,8.493124e+11,8.839739e+11,7.991060e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.049642e+10,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.043997e+11,8.482465e+10,NaN

Make sure to skip the header, and rename the following list of countries:
* Korea, Rep.: South Korea,
* Iran, Islamic Rep.: Iran,
* Hong Kong SAR, China: Hong Kong

In [43]:
GDP.rename(columns={"Country Name": "Country"}, inplace=True)

# Create dictionary with countries that need to be renamed
country_renames = {
    "Korea, Rep.": "South Korea",
    "Iran, Islamic Rep.": "Iran",
    "Hong Kong SAR, China": "Hong Kong",
}

# Apply renaming
GDP["Country"] = GDP["Country"].replace(country_renames)


GDP.head()

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.481857e+09,2.929447e+09,3.279344e+09,3.648573e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.421063e+10,2.496398e+10,2.707880e+10,3.177575e+10,3.028579e+10,3.381317e+10,...,8.982778e+11,8.289428e+11,9.729989e+11,1.012306e+12,1.009721e+12,9.333918e+11,1.085745e+12,1.191423e+12,1.245472e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426000e+10,1.449724e+10,1.723305e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.190495e+10,1.270788e+10,1.363076e+10,1.446909e+10,1.580376e+10,1.692109e+10,...,7.717669e+11,6.943610e+11,6.878492e+11,7.704950e+11,8.264838e+11,7.898017e+11,8.493124e+11,8.839739e+11,7.991060e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.049642e+10,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.043997e+11,8.482465e+10,NaN

* Finally, load the "Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology". It ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame "ScimEn"

In [44]:

ScimEn = pd.read_excel("scimagojr country rank 1996-2023.xlsx")


ScimEn.head()

,Rank,Country,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,Asiatic Region,402188,400158,5077232,3511673,12.62,343
1,2,United States,Northern America,208042,203356,3540288,1004877,17.02,458
2,3,India,Asiatic Region,81853,79757,968523,369256,11.83,237
3,4,Japan,Asiatic Region,58342,57735,717946,154848,12.31,228
4,5,United Kingdom,Western Europe,56288,54713,1095371,179764,19.46,293

* Join the three datasets: Energy, GDP, and ScimEn into a new dataset (using the intersection of country names). Use only the 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).

In [52]:
GDP.rename(columns={'Country Name': 'Country'}, inplace=True)

def answer_one():
    # Load GDP data and select only necessary columns
    GDP_filtered = GDP[["Country"] + [str(year) for year in range(2006, 2016)]]

    # Select the top 15 countries by ScimEn Rank
    ScimEn_top15 = ScimEn[ScimEn["Rank"] <= 15]

    # Merge datasets using an inner join on "Country" (intersection of country names)
    merged_data = pd.merge(ScimEn_top15, energy, on="Country", how="inner")
    final_data = pd.merge(merged_data, GDP_filtered, on="Country", how="inner")

    # Set the index to Country and select the required columns
    final_data.set_index("Country", inplace=True)
    final_data = final_data[
        ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 
         'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', 
         '% Renewable'] + [str(year) for year in range(2006, 2016)]
    ]

    return final_data

final_data = answer_one()
result = answer_one()
result

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,402188,400158,5077232,3511673,12.62,343,1.271910e+11,93.0,19.754910,2.752119e+12,3.550328e+12,4.594337e+12,5.101691e+12,6.087192e+12,7.551546e+12,8.532185e+12,9.570471e+12,1.047562e+13,1.106157e+13
United States,2,208042,203356,3540288,1004877,17.02,458,9.083800e+10,286.0,11.570980,1.381558e+13,1.447423e+13,1.476986e+13,1.447807e+13,1.504897e+13,1.559973e+13,1.625397e+13,1.688068e+13,1.760814e+13,1.829502e+13
India,3,81853,79757,968523,369256,11.83,237,3.319500e+10,26.0,14.969080,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856722e+12,2.039126e+12,2.103588e+12
Japan,4,58342,57735,717946,154848,12.31,228,1.898400e+10,149.0,10.232820,4.601663e+12,4.579751e+12,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
United Kingdom,5,56288,54713,1095371,179764,19.46,293,7.920000e+09,124.0,10.600470,2.708442e+12,3.090510e+12,2.929412e+12,2.412840e+12,2.485483e+12,2.663806e+12,2.707090e+12,2.784854e+12,3.064708e+12,2.927911e+12
Germany,6,50906,49773,777362,160302,15.27,252,1.326100e+10,165.0,17.901530,3.046309e+12,3.484057e+12,3.808786e+12,3.479801e+12,3.468154e+12,3.824829e+12,3.597897e+12,3.808086e+12,3.965801e+12,3.423568e+12
Russian Federation,7,46186,45868,217996,96688,4.72,112,3.070900e+10,214.0,17.288680,9.899321e+11,1.299703e+12,1.660848e+12,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12
Canada,8,41209,40390,915491,142691,22.22,284,1.043100e+10,296.0,61.945430,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,9,38700,36909,639473,147302,16.52,209,6.530000e+09,109.0,33.667230,1.958564e+12,2.222524e+12,2.417508e+12,2.209484e+12,2.144936e+12,2.306974e+12,2.097929e+12,2.153226e+12,2.173256e+12,1.845428e+12
South Korea,10,38362,38046,618762,105419,16.13,198,1.100700e+10,221.0,2.279353,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.143672e+12,1.253290e+12,1.278047e+12,1.370633e+12,1.484489e+12,1.466039e+12
Iran,11,32080,31725,634135,177894,19.77,198,9.172000e+09,119.0,5.707721,2.656022e+11,3.497366e+11,4.060709e+11,4.140591e+11,4.870696e+11,6.290823e+11,6.440193e+11,5.003998e+11,4.622848e+11,4.091917e+11
France,12,30810,30139,547122,89958,17.76,221,1.059700e+10,166.0,17.020280,2.317862e+12,2.655817e+12,2.926803e+12,2.700076e+12,2.646230e+12,2.870409e+12,2.683007e+12,2.816078e+12,2.861236e+12,2.442483e+12
Spain,13,29840,29156,614087,104845,20.58,216,4.923000e+09,106.0,37.968590,1.261847e+12,1.476746e+12,1.636115e+12,1.496588e+12,1.427989e+12,1.487569e+12,1.330995e+12,1.362187e+12,1.380245e+12,1.206165e+12
Australia,14,27993,27254,608021,84747,21.72,234,5.386000e+09,231.0,11.810810,7.484176e+11,8.550075e+11,1.056112e+12,9.287621e+11,1.148838e+12,1.398611e+12,1.547532e+12,1.577123e+12,1.468265e+12,1.351296e+12
Brazil,15,27316,26888,307607,71778,11.26,154,1.214900e+10,59.0,69.648030,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616156e+12,2.465228e+12,2.472820e+12,2.456044e+12,1.802212e+12

### **Question 2**

* What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)
* This function should return a Series named avgGDP with 15 countries and their average GDP sorted in descending order

In [54]:
def answer_two():
    Top15 = answer_one()
    
    # Get the last 10 years of GDP data
    last_10_years = Top15.columns[-10:]  # Get the last 10 columns (assuming columns are years)
    
    # Calculate the average GDP for each country (excluding missing values)
    avgGDP = Top15[last_10_years].mean(axis=1, skipna=True)  # Skip NaN values in the calculation
    
    # Sort the average GDP in descending order
    avgGDP = avgGDP.sort_values(ascending=False)
    
    
    return avgGDP

answer = answer_two()
answer

Country
United States         1.572243e+13
China                 6.927707e+12
Japan                 5.239642e+12
Germany               3.590729e+12
United Kingdom        2.777505e+12
France                2.692000e+12
Italy                 2.152983e+12
Brazil                1.988889e+12
Russian Federation    1.666746e+12
Canada                1.616359e+12
India                 1.602352e+12
Spain                 1.406644e+12
South Korea           1.221328e+12
Australia             1.207997e+12
Iran                  4.567516e+11
dtype: float64

### **Question 3**

* By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

* This function should return a single number.

In [47]:
def answer_three():
    Top15 = answer_one()
    
    # Get the last 10 years of GDP data 
    last_10_years = [str(year) for year in range(2006, 2016)]
    
    # Calculate the average GDP for each country over the last 10 years
    avgGDP = Top15[last_10_years].mean(axis=1, skipna=True)
    
    # Sort the countries by average GDP in descending order and get the country with the 6th largest average GDP
    sixth_country = avgGDP.sort_values(ascending=False).index[5]
    
    # Calculate the change in GDP from the first year to the last year for this country
    initial_gdp = Top15.loc[sixth_country, str(2006)]  # GDP in 2006
    final_gdp = Top15.loc[sixth_country, str(2015)]    # GDP in 2015
    gdp_change = final_gdp - initial_gdp
    
    
    return gdp_change

answer = answer_three()
print(answer)

124621907951.68018

### **Question 4**

* Create a new column that is the ratio of Self-Citations to Total Citations. What is the maximum value for this new column, and what country has the highest ratio?

* This function should return a tuple with the name of the country and the ratio.

In [48]:
def answer_four():
    Top15 = answer_one()
    
    Top15['Self-Citations / Total Citations'] = Top15['Self-citations'] / Top15['Citations']
    
    # Find the country with the highest ratio
    max_ratio_country = Top15['Self-Citations / Total Citations'].idxmax()
    max_ratio_value = Top15['Self-Citations / Total Citations'].max()
    
    
    return (max_ratio_country, max_ratio_value)


answer = answer_four()
print(answer)

('China', np.float64(0.6916510807463594))

### **Question 5**

* Create a column that estimates the population using Energy Supply and Energy Supply per capita. What is the third most populous country according to this estimate?
* This function should return a single string value.

In [49]:
def answer_five():
    Top15 = answer_one()
    
    # Calculate the estimated population
    Top15['Estimated Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    
    # Sort countries by estimated population in descending order
    sorted_top15 = Top15.sort_values(by='Estimated Population', ascending=False)
    
    # Get the third most populous country
    third_most_populous_country = sorted_top15.index[2]
    
    return third_most_populous_country

answer = answer_five()
print(answer)

United States

### **Question 6**

* Create a column that estimates the number of citable documents per person. What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the .corr() method, (Pearson's correlation).
* This function should return a single number.

In [50]:
def answer_six():
    Top15 = answer_one()
    
    # Calculate the estimated population using Energy Supply and Energy Supply per Capita
    Top15['Estimated Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    
    # Calculate the number of citable documents per person
    Top15['Citable Documents per Person'] = Top15['Citable documents'] / Top15['Estimated Population']
    
    # Calculate the correlation between citable documents per person and energy supply per capita
    correlation = Top15['Citable Documents per Person'].corr(Top15['Energy Supply per Capita'])
    
    return correlation

answer = answer_six()
print(answer)

0.7019601718382897

### **Question 7**

* Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.
```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```
* This function should return a DataFrame with index named Continent ['Asia', 'Australia', 'Europe', 'North America', 'South America'] and columns ['size', 'sum', 'mean', 'std']

In [55]:
def answer_seven():
    Top15 = answer_one()
    
    ContinentDict = {
        'China': 'Asia', 
        'United States': 'North America', 
        'Japan': 'Asia', 
        'United Kingdom': 'Europe', 
        'Russian Federation': 'Europe', 
        'Canada': 'North America', 
        'Germany': 'Europe', 
        'India': 'Asia',
        'France': 'Europe', 
        'South Korea': 'Asia', 
        'Italy': 'Europe', 
        'Spain': 'Europe', 
        'Iran': 'Asia',
        'Australia': 'Australia', 
        'Brazil': 'South America'
    }
    
    # Map the countries to continents using the dictionary
    Top15['Continent'] = Top15.index.map(ContinentDict)
    
    # Calculate the estimated population if not already done
    Top15['Estimated Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    
    # Group by continent and calculate required statistics
    grouped = Top15.groupby('Continent')['Estimated Population'].agg(
        size='size',
        sum='sum',
        mean='mean',
        std='std'
    )
    
    return grouped

answer = answer_seven()
answer

               size           sum          mean           std
Continent
Asia              5  2.898666e+15  5.797333e+14  6.790979e+14
Australia         1  2.331602e+13  2.331602e+13           NaN
Europe            6  4.579297e+14  7.632161e+13  3.464767e+13
North America     2  3.528552e+14  1.764276e+14  1.996696e+14
South America     1  2.059153e+14  2.059153e+14           NaN